body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f5;
    color: #222;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #0d1b2a;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.socials a {
    margin-left: 10px;
}

.socials img {
    width: 25px;
    height: 25px;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background: linear-gradient(90deg, #4cc9f0, #4361ee);
    border-radius: 15px;
    margin: 2rem;
    color: white;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.join-btn {
    background: black;
    color: white;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.join-btn:hover {
    background: #222;
}

.hero-images img {
    border-radius: 50%;
    margin-left: 10px;
}

/* Games Grid */
.games {
    text-align: center;
    padding: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 per row */
    gap: 1rem;
}

.game-card {
    background: #ccc;
    height: 1000px;
    border-radius: 50px;
}
.room-card {
    background: white;
    border-radius: px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.room-card img {
    width: 150%;
    height: 200px; /* was 120px, makes images taller */
    padding: 6rem;
    object-fit: center;
}

.room-card h3 {
    margin: 0.5rem 0;
    font-size: 1.3rem;
    color: #0d1b2a;
}

.room-card p {
    font-size: 1rem;
    color: #555;
    padding: 0 1rem 5rem;
}

.room-card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
